:root {
    --color-1: #00592e;
  }

button {
    background: var(--color-1);
    border: none;
    color: #fff;
}

input {
    border: 1px solid #bbb;
    color: var(--color-1);
    outline: none;
}

input[type],
button { 
    border-radius: .5rem;
    font-size: 1.2rem;
}

.Login-Wrapper {  
    display: flex;
    font-size: 1.3rem;
    justify-content: flex-start;
}
 
.Login-Wrapper .Auth h1 {
    border-bottom: 5px solid var(--color-1);
}

.Login-Wrapper .Auth p button {
    margin-left: 1rem;
    width: fit-content;
}

.Login-Wrapper div { 
    height: 100vh;
    padding: 2rem; 
}
 
.Login-Wrapper-First {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    width: 58rem;
}

.Login-Wrapper .Auth {
    height: 0;
}

.Login-Wrapper input,
.Login-Wrapper button {
    padding: 1rem;
    margin-block: 1rem;
    width: 30rem;
}

.Login-Wrapper p {
    margin-bottom: 3.5rem; 
    text-align: right;
}