.depasa-logo {
  position: relative; 
  transform: translateY(.7rem);
}

header {
  background: #000;
  color: antiquewhite;
  letter-spacing: .09rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header {
  align-items: center;
  display: flex;
  height: 2rem;
  justify-content: space-between;
  
}

.header div {
  margin: .5rem;
} 

.header div a, button a {
    color: antiquewhite;
    text-decoration: none;
}

.header .toggle-icon img {
  background: antiquewhite;
  border-radius: .5rem;
  cursor: pointer;
  margin-top: .4rem;
  padding: .2rem;
  width: 1.7rem;
}


@media (min-width: 1048px) {
  .depasa-logo {
    transform: translateY(.7rem);
  } 
}

@media (min-width: 1204px) {
  .depasa-logo {    
    /* transform: translateY(1rem); */
    z-index: 1;
  }
}

@media (min-width: 670px) { 
  .toggle-icon {
    display: none;
  }
}

@media (max-width: 670px) { 
  .toggle-icon {
    display: block;
  }
}


