.depasa-logo {
  position: absolute;
  right: -16px;
  top: -9px;
}

header {
  background: #000;
  color: antiquewhite;
  letter-spacing: .09rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header div {
  margin: .5rem;
} 

.header div a, button a {
    color: antiquewhite;
    text-decoration: none;
}

.header .toggle-icon img {
  background: antiquewhite;
  border-radius: .5rem;
  cursor: pointer;
  width: 3rem;
}


@media (min-width: 742px) { 
  .toggle-icon {
    display: none;
  }
}

@media (max-width: 742px) { 
  .toggle-icon {
    display: block;
  }
}


