
header {
  background: #000;
  color: antiquewhite;
  letter-spacing: .09rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header div {
  margin: .5rem;
} 

.header div a, button a {
    color: antiquewhite;
    text-decoration: none;
}

 
