.depasa-logo {
  position: absolute;
  top: 4rem;
  z-index: 1;
}

.depasa-logo-login {
  top: 5rem;
}

header {
  background: #000;
  color: antiquewhite;
  letter-spacing: .09rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header div {
  align-self: center;
  margin: .5rem;
} 

.header div a, button a {
    color: antiquewhite;
    text-decoration: none;
}

.header .toggle-icon img {
  background: antiquewhite;
  border-radius: .5rem;
  cursor: pointer;
  width: 3rem;
}

@media (min-width: 659px) {
  .toggle-icon {
    display: none;
  }
}

 

 
