.align-self {
    align-self: center;
}

#export {
    font-size: small;
    padding: .5rem;
    position: absolute;
    right: 2rem;
    top: 0;
    width: fit-content;
    z-index: 1;
}

.records {
    background: #f9f6f6;
    box-shadow: 1px 2px 19px #bbb;
    height: 90vh;
    margin-top: 2.9rem;
    overflow: hidden; 
}

.records .all-records {
    height: 85vh;
    overflow: scroll;
}

.records-nav {
    background: #fff;
    display: flex;
    font-size: smaller;
    justify-content: center;
    letter-spacing: .1rem; 
}

.records-nav a { 
    color: var(--color-1);
    margin-inline: 1rem;
    padding: .5rem 1.1rem;
}

.header-record-info {
    display: flex;
    font-size: small;
}

.header-record-info h3 {
    margin-inline: 5rem;
}

.records .records-headings {
    background: #eee; 
    border-radius: 1rem;
    box-shadow: 1px 2px 19px #ccc; 
    display: flex;
    font-size: smaller;  
    justify-content: space-evenly;
}

.records-headings h2 {
    align-self: center;
}

.records h1,
.records h2 {  
    color: #444;  
}
 
.record-success p {
    background: #eee;
    border: 3px solid var(--color-1);
    border-radius: .5rem;
    letter-spacing: .02rem;
    padding: 1rem;
}

table { 
    border-collapse: collapse;
    margin-inline: 1rem;
    padding-block: 3rem;
    width: max-content;
    transform: translateY(4rem);
} 

table tr th,
table tr td {
    background: #ddd; 
    color: #222;
    padding: 1rem .5rem;
    text-align: center;
    width: 15rem;
}


table tr th:nth-child(odd),
table tr td:nth-child(odd) {
    background: #eee; 
}

table tr th:first-child {
    background: var(--color-1); 
    color: #fff;
    letter-spacing: .1rem;
}

@media (max-width: 1470px) {
    .records-nav {
        justify-content: flex-end;
    }

    .records-nav a {
        margin-inline: 0;
        padding: .5rem;
    }
}

@media(max-width: 1330px) {
    .header-record-info h3 {
        margin-inline: 1rem;
    }
}

@media (max-width: 900px) {
    .header-record-info {
        display: none;
    }
}

@media (max-width: 864px) {
    .records-nav {
        display: none;
    }
}

